

.App {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	max-width: 1180px;
	min-height: 100%;
}

.counter {
	margin: 20px 0;
	border: 1px solid #000;
	padding: 20px;
		width: 40px;
}

.btn {
	text-align: center;
	width: 20px;
	height: 20px;
	background: orange;
	border-radius: 50%
}

.todo {
	border: 1px solid #000;
	padding: 10px;
	display: flex;
	justify-content: space-between;
}


